@tailwind base;
@tailwind components;
@tailwind utilities;
/* .dashboard {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  position: absolute;
} */
* {
  font-family: "Montserrat" !important;
}
